In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

df.head()

,Region,Country,Name,Industry,Value,Category,Year
0,Oceania,Australia,Amcor Ltd,Industrials,1779853,Equity,1998
1,Oceania,Australia,AMP Ltd,Financials,8662515,Equity,1998
2,Oceania,Australia,Ashton Mining,Basic Materials,75850,Equity,1998
3,Oceania,Australia,Australian Foundation Investment Co Ltd,Financials,793252,Equity,1998
4,Oceania,Australia,Australian Gas Light Company,Utilities,1509918,Equity,1998

In [3]:
df['Region'].value_counts()

Asia             67177
North America    57951
Europe           45804
Oceania           6614
Latin America     5086
Africa            2834
Middle East       2034
Japan             1323
International      295
Australia          223
Name: Region, dtype: int64

In [4]:
df['Country'].value_counts()

United States                     51793
Japan                             28179
United Kingdom                    11302
China                              9902
Taiwan                             7440
                                  ...
Gibraltar                             1
Tanzania *, United Republic of        1
Virgin Islands                        1
Greenland                             1
Marshall Islands                      1
Name: Country, Length: 120, dtype: int64

In [5]:
df['Industry'].value_counts()

Industrials                                               33276
Financials                                                30092
Consumer Services                                         18929
Consumer Goods                                            17794
Technology                                                14799
Basic Materials                                           13616
Health Care                                               11627
Corporate                                                 10035
Corporate Bonds                                            8178
Oil & Gas                                                  6083
Utilities                                                  5482
Telecommunications                                         3287
Consumer Discretionary                                     3261
Securitized                                                2934
Government Related Bonds                                   2205
Government Related                                         1731
Real Estate                                                1375
Securitized Bonds                                          1332
Consumer Staples                                           1181
Government                                                  954
Energy                                                      421
Corporate Bonds/Securitized Bonds                           328
Corporate/Securitized                                       313
Treasuries                                                   51
Treasuries/Index Linked Bonds                                22
Treasuries/Government Related Bonds                          12
Government Related Bonds/Securitized Bonds                    9
Convertible Bonds                                             6
Treasuries/Index Linked Bonds/Government Related Bonds        4
Unknown                                                       2
Guernsey                                                      1
Government Related Bonds/Corporate Bonds                      1
Name: Industry, dtype: int64

In [6]:
df['Industry'] = np.where((df['Industry'] == 'Unknown') & (df['Name'] == 'Craft Oil Ltd'), 'Energy',
                 np.where((df['Industry'] == 'Unknown') & (df['Name'] == 'Kontron S&T AG'), 'Technology',         
                          df['Industry']))

In [7]:
df['Industry'].value_counts()

Industrials                                               33276
Financials                                                30092
Consumer Services                                         18929
Consumer Goods                                            17794
Technology                                                14800
Basic Materials                                           13616
Health Care                                               11627
Corporate                                                 10035
Corporate Bonds                                            8178
Oil & Gas                                                  6083
Utilities                                                  5482
Telecommunications                                         3287
Consumer Discretionary                                     3261
Securitized                                                2934
Government Related Bonds                                   2205
Government Related                                         1731
Real Estate                                                1375
Securitized Bonds                                          1332
Consumer Staples                                           1181
Government                                                  954
Energy                                                      422
Corporate Bonds/Securitized Bonds                           328
Corporate/Securitized                                       313
Treasuries                                                   51
Treasuries/Index Linked Bonds                                22
Treasuries/Government Related Bonds                          12
Government Related Bonds/Securitized Bonds                    9
Convertible Bonds                                             6
Treasuries/Index Linked Bonds/Government Related Bonds        4
Guernsey                                                      1
Government Related Bonds/Corporate Bonds                      1
Name: Industry, dtype: int64